@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,900;1,6..96,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    background-color: #2b1235;
}

#banner {
    background: url("images/banner.jpg");
    width: 100vw;
    height:100vh;
    background-size: cover;
    z-index: -6;
}

.supbage {
    color:white; 
    text-align: right; 
    margin-right: calc(.5vw + .5vh); 
    font-size: calc(1vw + 1vh);
}

#visit {
    text-align: center;
    width: 100vw;
    height:100vh;
    line-height: 100vh;
    font-family: "Bodoni Moda", serif;
    color: #f4e7f8;
    font-size: calc(7vw);
    position: fixed;
}

#visit2 {
    text-align: center;
    width: 100vw;
    height: 100vh;
    line-height: calc(100vh - 14vw);
    font-family: "Bodoni Moda", serif;
    color: #f4e7f8;
    font-size: 4vw;
    position: fixed;
}

#header {
    position: fixed;
    width: 100vw;
    height: calc(3vw + 3vh);
    z-index: 2;
    transition: color, background;
    transition-duration: .5s;
    top: 0;
}

#body {
    width: 100vw;
    height: 100vh;
    background-color: #2b1235;
    position: absolute;
}

html {
    padding: 0;
    margin: 0
}